<% for @c in @comments %>
    <div class="comment">
        <p>
            <span class="comment-user"><%= link_to @c.user.username, profile_path(@c.user.id) %></span>&emsp;
            <span class="comment-date"><%= @c.created_at.strftime("%d-%m-%Y") %></span>
        </p>
        <p class="comment-content"><%= @c.content %></p>
        <% if current_user.id == @c.user.id %>
            <%= link_to "Delete", music_comment_path(@c.music, @c), method: :delete, data: {confirm: "Are you sure?"} %>
            <%= link_to "Update", edit_music_comment_path(@c.music, @c) %>
        <% end %>
    </div>
<% end %>